<ng-container *ngIf="currentUser$ | async">
    <nav class="fixed top-0 w-screen h-[60px] bg-slate-800 text-white">
        <div class="flex items-center h-full justify-between mx-auto container ">
            <div class="flex items-center h-full gap-8">
                <a routerLink="/home">Home</a>
                <a routerLink="/users">Users</a>
            </div>

            <div class="flex gap-4">
                <div class="flex gap-4">
                    <div *ngIf="currentUser$ | async as user">
                        <span>Hello {{ user.username }} !</span>
                    </div>
                    <button class="text-gray-300 transition-all hover:text-white" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
    </nav>
</ng-container>

<div class="w-screen h-screen overflow-hidden flex flex-col">
    <div class="flex-1">
        <router-outlet></router-outlet>
    </div>

    <ng-container *ngIf="currentUser$ | async">
        <footer>
            <h3 class="text-3xl font-medium text-center">Angular CRUD</h3>
        </footer>
    </ng-container>
</div>